@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300&family=Shadows+Into+Light+Two&display=swap');
body{
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  color: #405142E;
}

h1{
  margin-top:50px,auto,0,auto;
  color: #66BFBF;
  font-size: 5.626rem;
  line-height: 2;
}
h2:hover{
    color:black;
}
h1:hover{
    color:black;
}

h2{
  margin-top:0;
  color: #66BFBF;
  font-size: 2.5rem;
  font-weight: normal;
}

h3{
  color:#11999E;
}
a{
  font-family: 'Montserrat', sans-serif;
  color:black;
  margin: 7px 20px;
  text-decoration: none;
}
p{
    line-height: 2;
}
.top-container{
  position: relative;
  padding-top: 100px;
  padding-bottom: 0;
  background-color:#E4F9F5;
  margin-bottom: 70px;
}
.cloud1{
  position: absolute;
  right: 300px;
  top:50px;
}
.cloud2{
  position: absolute;
  left: 300px;
  bottom: 300px;
}
.mountain{
  position: relative;
}
.skill-row{
  width: 50%;
  margin: auto;
  margin-top: 100px;
  margin-bottom: 100px;
  text-align: left;
}
.prof-pic{
  height:200px;
  margin-bottom: 20px;
}
.biking{
  width: 25%;
  float: left;
  margin-right: :30px;
}
.programming{
  width: 25%;
  float: right;
  margin-left:30px;
}
hr{
  border: dotted #EAF6F6 6px;
  border-bottom:none;
  width: 10%;
  margin: 40px auto 60px;
}
.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4,  #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4,  #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4,  #11999e);
  background-image: -o-linear-gradient(top, #11cdd4,  #11999e);
  background-image: linear-gradient(to bottom, #11cdd4,  #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;

}

.btn:hover {
  background:  #30e3cb;
  background-image: -webkit-linear-gradient(top,  #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top,  #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top,  #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top,  #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom,  #30e3cb, #2bc4ad);
  text-decoration: none;
}
.intro{
  width: 30%;
  margin: auto;
}

.bottom-container{
  margin-top: 50px;
  padding: 50px 0 20px;
  background-color: #66BFBF;
}
.contact-me{
  margin-bottom: 100px;
}
